body {
    background-color: green;
}
.titulo{
    color: white;
    text-align: center;
}
.foto{
    border: 1px solid black;
    display: block;
    margin: auto;
}
.data{
    font-size: 2em;
    color:aquamarine
}